


/* Nav Styles */
nav {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

nav a {
  text-decoration: none;
  color: darkblue;
  transition: 1s;
  padding: 2% 0;
}

.logout {
  color: darkblue;
}

.logout:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.logout:hover {
  color: darkblue;
  text-decoration: underline;
}

body {
  background-color: aliceblue;
}

table {
  background-color: white;
}

table td, table th {
  vertical-align: middle;
  white-space: nowrap;
}


button {
  background-color: skyblue;
  border-radius: 7px 7px;
}

h1 {
  color: blue;
}

h2, h3, h4 {
  color: darkblue
}